<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrapped Bloc Wireframe.html by Christine Chen</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="pxstyle.css" />
    </head>
    
    <body class="container">
        <!-- Global Header -->
        <header>
            <div class="container">
                    <div class="header_logo">
                        <a href="/wireframe"><img src="http://www.picstickers.com/design/px_logo.jpg" /></a>
                    </div>
                    <div class="header_nav">
                        |  <a href="/cart">Shopping Cart</a>  |  <a href="/wip">Help</a>  |
                    </div>
            </div>
        </header>
        
        
        <!-- js scripts -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        
        
        
        
        
        
        
        <!-- Main Body -->
        <h2>Cart Mock Up</h2>

        <p> <a class="button_start" href="/create"></a></p>
        
        <div class="container">
            <div class="main_wrapper">
               <img src="http://www.picstickers.com/design/cartmock.jpg"/>
            </div>
        </div>


        
        
        <!-- Global Footer -->
        <footer class="container">
            <div class="footer_nav">|  <a href="/wip">Size Chart</a>  |
                <a href="/wip">Customer Support</a>  |
                <a href="/wip">About</a>  |  
                <a href="/wip">Terms</a>  |  
                <a href="/wip">Privacy</a>  |  Help us improve PicStickers.
                <a href="mailto:customerservice@picstickers.com?subject=Feedback">Send Feedback</a>.
            </div>
        </footer>
        
    </body>
</html>