<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrapped Bloc Wireframe.html by Christine Chen</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="pxstyle.css" />
    </head>
    
    <body class="container">
        <!-- Global Header -->
        <header>
            <div class="container">
                    <div class="header_logo">
                        <a href="/wireframe"><img src="http://www.picstickers.com/design/px_logo.jpg" /></a>
                    </div>
                    <div class="header_nav">
                        |  <a href="/cart">Shopping Cart</a>  |  <a href="/wip">Help</a>  |
                    </div>
            </div>
        </header>
        
        
        <!-- js scripts -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        
        <!-- Hero Unit-->
        <div class="hero-unit">
            <h1>Welcome to PicStickers!</h1>
            <p>Create your own picture stickers.</p>
            <div class="container">
            <div class="row">
                <div class="span8"><img src="http://www.picstickers.com/design/hp_marquee_image.jpg" /></div>
                <div class="span3">
                    <div class="hero_content_title">Turn your favorite photos into picture stickers.</div> 
                    <ul class="hero_content_list">
                        <li>Express your creativity. Cards, invites, gifts, decorations,
                        scrapbooks, journals, and more. There is no limit on your creativity!</li>
                        <li>Label with photos. Cell phones, iPods, cameras, notebooks, folders,
                        shoeboxes, computers, sporting equipment,... If there is a flat surface it sticks!</li>
                        <li>Endless possiblities. Anything you want to pur your favoriate photos on, do it with PicStickers.</li>
                    </ul>
                    <div class="span1"></div>
                </div>
            </div>
            </div>
            <p><a class="btn btn-primary btn-large" href="/wip">Learn more</a></p>
        </div>
        
        
        
        
        
        <!-- Main Body -->
        <div class="container">
            <div class="main_wrapper">
                <div class="main">
                    <table class="table table-bordered">
                        <tr><th>Super Large</th><th>Large</th><th>Medium</th><th>Small</th><th>Square</th></tr>
                        <tr class="top_image"><td><img src="http://www.picstickers.com/design/hp_sample_superlarge.jpg"/></td>
                            <td><img src="http://www.picstickers.com/design/hp_sample_large.jpg"/></td>
                            <td><img src="http://www.picstickers.com/design/hp_sample_medium.jpg"/></td>
                            <td><img src="http://www.picstickers.com/design/hp_sample_small.jpg"/></td>
                            <td><img src="http://www.picstickers.com/design/hp_sample_square.jpg"/></td>
                        </tr>
                        <tr class="bottom_image"><td><img src="http://www.picstickers.com/design/hp_example_large.jpg"/></td>
                            <td><img src="http://www.picstickers.com/design/hp_example_large.jpg"/></td>
                            <td><img src="http://www.picstickers.com/design/hp_example_medium.jpg"/></td>
                            <td><img src="http://www.picstickers.com/design/hp_example_small.jpg"/></td>
                            <td><img src="http://www.picstickers.com/design/hp_example_square.jpg"/></td>
                        </tr>
                        <tr><td>product description</td><td>product description</td><td>product description</td><td>product description</td><td>product description</td></tr>
                    </table>
                </div>
                <div class="side">
                    <a class="button_start" href="/create"></a>
                </div>
            </div>
        </div>


       <p> <a class="button_start" href="/create"></a></p>
        
        <!-- Global Footer -->
        <footer class="container">
            <div class="footer_nav">|  <a href="/wip">Size Chart</a>  |
                <a href="/wip">Customer Support</a>  |
                <a href="/wip">About</a>  |  
                <a href="/wip">Terms</a>  |  
                <a href="/wip">Privacy</a>  |  Help us improve PicStickers.
                <a href="mailto:customerservice@picstickers.com?subject=Feedback">Send Feedback</a>.
            </div>
        </footer>
        
    </body>
</html>